== Dear #{ h @user.username },

Thank you for registering at example.com.

To complete your registration, please click on the URL below:
==http://www.example.com/users/activate/#{ h @user.activation_code }

If the link is not clickable you can copy and paste the address into your web browser's address window.

Thanks for joining.
GroupieGuide