%li
  = role.name
  - if @user.has_role?(role.name)
    = link_to 'remove role', user_role_path(@user, role), :method => :delete
  - else
    = link_to 'assign role', user_role_path(@user, role), :method => :put
